<div>
  <label>Name</label>
  {{input type="text" value=name}}
</div>
<div>
  <label>Bio</label>
  {{textarea value=bio}}
</div>
<div>
  <label>Favorite Snack</label>
  {{input type="text" value=snack}}
</div>
