<div class="small-12 columns">
  <nav>
    <b>emberails</b>
    <ul class="right inline-list">
      <li>
        {{link-to 'Goats' 'goats'}}
      </li>
      <li>
        {{link-to 'About' 'about'}}
      </li>
    </ul>
  </nav>
</div>

<div class="small-12 columns">
{{outlet}}
</div>
