<div class="small-8 small-centered columns">
  <h1>GoatSpace</h1>
  <h2>A place for goats!</h2>
  {{#link-to "goats.index"}}
    <img src="img/lots-of-goats.png" alt="friendly goats" />
  {{/link-to}}
</div>
