$dk-magenta: #741B47;
$med-magenta: #99245e;
$topbar-bg: $dk-magenta;
$topbar-link-bg-hover: $med-magenta;

$primary-color: #245e99;
$secondary-color: #e7e7e7;
$alert-color: #992437;
$success-color: #379924;
$warning-color: #995f24;
$info-color: #243799;

$header-font-color: $dk-magenta;
$body-font-color: $med-magenta;
