@import "_variables.scss";
@import 'bower_components/foundation/scss/normalize';
@import 'bower_components/foundation/scss/foundation';

.active {
  font-weight: bold
}

.goat-show-photo {
  max-width: 200px;
  max-height: 200px;
  height:auto;
  float:left;
  margin-right: 2%;
}

.fav-button {
  display: inline-block;
}
